*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
nav{
    background-color: rgb(220, 220, 220);
}
.all_nav{
    display: flex;
    justify-content: space-between;
    padding: 27px 0;
}

section{
    margin-top: 50px;
}
.all_section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.section_item{
    width: 280px;
    background-color: rgb(228, 228, 228);
    height: 300px;
    border-radius: 10px;
}
.section_item img{
    width: 100%;
    border-radius: 10px ;
    height: 200px;
}